<%= render partial: "shared/error_list", locals: {new_object: @retailer} %>


<%= form_for @retailer do |f| %>
    <%= f.label :name, "New Retailer Name" %>
    <%= f.text_field :name %>
    <%= f.label :year_established %>
    <%= f.number_field :year_established %>

    <h4>Snacks by this retailer</h4>
        <%= f.fields_for :snacks do |s| %>
            <div>
                <%= s.label :name %>
                <%= s.text_field :name %>
                <%= s.label :calories %>
                <%= s.number_field :calories %>
                <%= s.label :deliciousness %>
                <%= s.select :deliciousness, (1..10) %>
            </div>
        <% end %>
    <%= f.submit %>
<% end %>