<h1>Detail Page for Snack</h1>

<div>
    <div>Name:  <%= @snack.name %></div>
    <div>Calories: <%= @snack.calories %></div>
    <div>Deliciousness: <%= @snack.deliciousness %></div>
</div>


<!-- <a href="/snacks">Back to Snack Index Page</a> -->
<%= form_tag snack_path(@snack), method: "delete" do %>
    <%= submit_tag "Delete this snack" %>
<% end %>


<%= link_to "Edit this snack", edit_snack_path(@snack) %>
<%= link_to "Back to Snack Index Page", snacks_path %>